/* table {
    width: 80%;
    margin-left: 9%;
    margin-right: 7%;
} */
.mat-elevation-z8 {
    background-color:rgb(94, 94, 94);
    color:#1ED760 ;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    table-layout:fixed;
}
.rowData{
    color:#1ED760 ;
    border-color: #1ED760;
    border-width: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
tr{
    color:#1ED760 ;
    border-color: #1ED760;
    border-width: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
th{
    color:#1ED760 ;
    border-color: #1ED760;
    border-width: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
td{
    color:#1ED760 ; 
    border-color: #1ED760;
    border-width: 2%;
    font-family:Arial, Helvetica, sans-serif;
}
/* .title {
    color: #1ED760;
    display: flex;
    justify-content: center;
    background-color: #000;
    margin-top: 2%;
    font-family:cursive;

  } */
  .audio{
      /* background-color: #000; */
      color:#1ED760;
  }

.rec-song-title{
    width: 33%;
    word-break: break-all;
}

.table-header{
    font-weight: bolder;
    font-size: 12px;
}

.fa-play{
    padding-left: 2%;
}

.table-col{
    column-width: auto;
}