<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="Link" class="rowData table-col">
    <th mat-header-cell *matHeaderCellDef class="table-header">Link</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.Link;" class="play-btn">
        <i class="fa fa-play rounded hollow cursor" (click)="onAudioClick(element.Song)"></i>
      </div>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Song" class="rowData rec-song-title table-col">
    <th mat-header-cell *matHeaderCellDef class="table-header">Song</th>
    <td mat-cell *matCellDef="let element" class=".table-body-text"> {{element.Song}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Artist" class="rowData table-col">
    <th mat-header-cell *matHeaderCellDef class="table-header">Artist</th>
    <td mat-cell *matCellDef="let element" class=".table-body-text"> {{element.Artist}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<audio id="audio-player" [src]="audioLink"></audio>