

 <table>
  <h1 >Track Details</h1> 
  <!-- row with fixed height-->
    <tr height="300px">
      <td>  
        <div  class="chart-wrapper">
        <canvas baseChart class="theGraph"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors">
      </canvas>
      </div>
    </td>
      <td>
        <audio controls>
        <source src="https://p.scdn.co/mp3-preview/1a4bc893428a6a29ffe59addc623a14288bdfb12?cid=9c6784a0ec4d4cb7a131d7192891e3f9" type="audio/mp3">
      </audio></td>
      <td>
        <div class="chart-wrapper">
          <canvas baseChart
          [datasets]="radarChartData"
          [options]="radarChartOptions"
          [labels]="radarChartLabels"
          [chartType]="radarChartType">
        </canvas>
        </div>
      </td>
    </tr>
    
  
  </table>
    
  
