.trackGraphs{
  
}
table {
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    width: 100%;
    table-layout:fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color:white;
}