*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 15.3%;
  margin-bottom: 8px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

/* .title {
  color: #1ED760;
  display: flex;
  justify-content: center;
  background-color: rgb(206, 206, 206);
  margin-top: 4%;
  margin-bottom: 3%;
  font-family: cursive;
} */

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(206, 206, 206);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: cursive;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.row-center {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgb(190, 190, 190);
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  width: 100%;
  table-layout: fixed;
}

td {
  border: 1px solid #1ED760;
  text-align: center;
  padding: 10px;
  color: #5feb90;
  font-family: cursive;
}

tr {
  /* background-color:rgb(41, 65, 171); */
  background-color: black;
  color: #5feb90;
  font-family: cursive;
}

.buttonRes {
  margin-left: 47%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.different-song-btn {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  align-items: center;
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: #48aa07;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: rgb(170, 170, 170);
  background-attachment: fixed;
  color: #48aa07;
  text-shadow: 1px 1px 1px black ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

/* .result{
  text-align: center;
}*/

.theGraph{
  z-index: 2;
  display: block;
  /* height: 200px;
  width: 914px; */
}

.main-title {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
}

.song-title{
  padding-top: 0.5em;
  font-size: 52px;
  line-height: 100%;
}

.verdict{
  font-size: 40px;
  font-weight: bold;
  line-height: 120%;
}

.artist-name{
  font-size: 18px;
  font-weight: lighter;
  margin: 0;
}

.content {
  background:rgb(206, 206, 206);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
}

.sidebar {
  flex: 1 1 25%;
  padding: 1em;
}

.main-content {
  flex: 1 1 75%;
  padding-top: 2em;
  padding-right: 5%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
}

.main-image {
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
  border: 2px solid white;
}


.main-audio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.album-title, .release-date{
  font-weight:lighter;
  margin: 0;
}

.song-details{
  padding-left: 5%;
}

.recs{
  padding-left: 5%;
}

.title{
  padding-top: 2%;
}

.content-row{
  padding: 1%;
  display: flex;
  flex-direction: row;
}

.chart-wrapper{
  width: 60%;
}

.insight{
  padding-left: 15%;
  font-size: 14px;
  font-weight: bold;
}

.insights{
  display: flex;
  flex-direction: column;
}

.cluster-insights{
  display: flex;
  flex-direction: row;
}

.cluster-insight{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-left: 1%;
  max-width: 33%;
}

.section-header{
  padding-top: 2%;
  margin: 0;
}

.section-subheader{
  font-weight: lighter;
  font-size: 16px;
}

.last-row{
  justify-content: center;
}

.embed{
  padding-top: 2%;
}