<div class="body">
  <app-nav-bar></app-nav-bar>
  <div class="about-section" *ngIf="!isThereRes">
    <h1 class="main-title"><b>We Want a Hit</b></h1>
    <div class="description">
      <p><b>Are you an upcoming artist? Maybe a Label Manager?</b></p>
      <p><b>This site is just for you! Using advanced Data Science models,</b></p>
      <p><b>we can predict how succesful a song will be!</b></p>
      <p><b>All you need to do is to write the song's name and the artist's name</b></p>
    </div>
  </div>
  <app-search class='row-center' [myTrack]="myTrack" (search)="onSearch($event)" *ngIf="!isThereRes"></app-search>

  <mat-spinner *ngIf='searching' mode='indeterminate' color='rgba(181, 221, 155, 1)'></mat-spinner>

  <div *ngIf="isThereRes" class="content">
    <!-- <button *ngIf="isThereRes" (click)="onDiffrentSong()" class="buttonDDiff">Choose Diffrent Song</button> -->
    <div class="sidebar">
      <div class="icon">
        <div *ngIf='image'>
          <img [src]="image" alt="" class="main-image">
        </div>
      </div>
      <div class="song-details">
        <h1 class='song-title'>{{this.title}}</h1>
        <h3 class="artist-name"><b>{{this.finalRes.track.artists[0].name}}</b>,
          {{this.duration}}
        </h3>
        <h3 class="album-title">{{this.finalRes.track.album.name}}</h3>
        <h3 class="release-date">Released on {{this.finalRes.track.album.release_date}}</h3>
        <iframe class='embed' [src]="embedUrl | safe" width="300" height="380" frameborder="1" allowtransparency="true" allow="encrypted-media">
        </iframe>  
      </div>

      <hr>

      <div class="recs">
        <h1>Recommended Songs</h1>
        <app-recomendation [similar_songs]="similar_songs"></app-recomendation>
      </div>
      <button *ngIf="isThereRes" (click)="onDiffrentSong()"  class="different-song-btn">Choose Diffrent Song</button>
    </div>

    <div class="main-content">
      <h1 class="verdict">Our Prediction: {{this.timeSeriesInsight}}.</h1>

      <h1 class="section-header">Genre Comparison</h1>
      <h2 class="section-subheader">{{this.title}} Classifies as a {{this.genre}} Song</h2>
      <div class="content-row">
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
            [colors]="barChartColors">
          </canvas>
        </div>
        <div class="insights">
          <h1 class="insight">
            {{this.classificationInsightsArr[0]}}
          </h1>
          <h1 class="insight">
            {{this.classificationInsightsArr[1]}}
          </h1>
          <h1 class="insight">
            {{this.classificationInsightsArr[2]}}
          </h1>
        </div>
      </div>

      <h1 class="section-header">Song Characteristics</h1>
      <div class="content-row">
        <!-- <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="radarChartData" [options]="radarChartOptions"
            [labels]="radarChartLabels" [chartType]="radarChartType" [colors]="radarChartColor">
          </canvas>
        </div> -->
        <div class="cluster-insights">
          <mat-icon>check_circle_outline</mat-icon>
          <h1 class="cluster-insight">
            
            {{this.clusterInsights[0]}}
            
          </h1>
          <mat-icon>check_circle_outline</mat-icon>

          <h1 class="cluster-insight">
            {{this.clusterInsights[1]}}
          </h1>
          <mat-icon>check_circle_outline</mat-icon>

          <h1 class="cluster-insight">
            {{this.clusterInsights[2]}}
          </h1>
        </div>
      </div>

      <h1 class="section-header">"{{this.title}}" vs. Industry Trends</h1>
      <div class="content-row">
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [plugins]="lineChartPlugins" [legend]="lineChartLegend"
            [chartType]="lineChartType" [colors]="lineChartColors">
          </canvas>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData1" [labels]="lineChartLabels1"
            [options]="lineChartOptions1" [plugins]="lineChartPlugins1" [legend]="lineChartLegend1"
            [chartType]="lineChartType1" [colors]="lineChartColors1">
          </canvas>
        </div>
        
      </div>
    <div class="content-row">
      <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData2" [labels]="lineChartLabels2"
            [options]="lineChartOptions2" [plugins]="lineChartPlugins2" [legend]="lineChartLegend2"
            [chartType]="lineChartType2" [colors]="lineChartColors2">
          </canvas>
      </div>
      <div class="chart-wrapper">
        <canvas baseChart class="theGraph" [datasets]="lineChartData3" [labels]="lineChartLabels3"
          [options]="lineChartOptions3" [plugins]="lineChartPlugins3" [legend]="lineChartLegend3"
          [chartType]="lineChartType3" [colors]="lineChartColors3">
        </canvas>
        </div>
      </div>
      <div class="content-row">
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData4" [labels]="lineChartLabels4"
            [options]="lineChartOptions4" [plugins]="lineChartPlugins4" [legend]="lineChartLegend4"
            [chartType]="lineChartType4" [colors]="lineChartColors4">
          </canvas>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData7" [labels]="lineChartLabels7"
            [options]="lineChartOptions7" [plugins]="lineChartPlugins7" [legend]="lineChartLegend7"
            [chartType]="lineChartType7" [colors]="lineChartColors7">
          </canvas>
        </div>
      </div>
      <div class="content-row">
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData6" [labels]="lineChartLabels6"
            [options]="lineChartOptions6" [plugins]="lineChartPlugins6" [legend]="lineChartLegend6"
            [chartType]="lineChartType6" [colors]="lineChartColors6">
          </canvas>
        </div>
        <div class="chart-wrapper">
          <canvas baseChart class="theGraph" [datasets]="lineChartData8" [labels]="lineChartLabels8"
            [options]="lineChartOptions8" [plugins]="lineChartPlugins8" [legend]="lineChartLegend8"
            [chartType]="lineChartType8" [colors]="lineChartColors8">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
