.example-spacer {
    flex    : 1 1 auto;
    color   : rgb(120, 49, 148);
}
.toolBar{
    background-color: rgb(206, 206, 206);
    color: #48aa07;
    border-color: #48aa07;
}
.example-icon{
    color:#48aa07 ;
    background-color: rgb(206, 206, 206);
}