/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
  }
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

footer{
  margin-top: auto;
  background: rgb(170, 170, 170);
}

.footer-info{
  text-align: center;
}