
<form class="example-form" [formGroup]="songRec" (ngSubmit)="onSearch()" >
    <h1 class=form-header>
        Enter a Song
    </h1>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label class="mat-label form-label">Song Title</mat-label>
        <input matInput placeholder="" formControlName="songName" autocomplete="off">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label class="mat-label form-label" >Artist's Name</mat-label>
        <input matInput placeholder="" formControlName="artistName" autocomplete="off">
    </mat-form-field>
    <br>
    <button type="submit" class="button" mat-button [disabled]="buttonDisabled" name="submit-btn">Search</button>
</form>
