<!-- <div class="about-section">
    <h1>Welcome To Gorgeous!</h1>
    <p>Here you will see all the importent diteles that help you to know how good your song will be</p>
    <p>all you need to do is to input the name of your song and the name of the artist</p>
  </div> -->
<!--   
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">-->

<!--Omer-->

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Omer Hananya</h2>
          <p class="title">Devops Programer</p>
          <p>omerh1600@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    
<!--Oz-->
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Oz Soprin</h2>
          <p class="title">DBA /Backend</p>
          <p>oz.soprin@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    
<!--yotam-->
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Yotam Saadon</h2>
          <p class="title">Designer</p>
          <p>yotamsaad12@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>


<!--Adi-->


    <div class="column">
        <div class="card">
          <div class="container">
            <h2>Adi Zano</h2>
            <p class="title">Data Scientist</p>
            <p>Adizano810@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      
<!--gal-->
      
      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Gal Stilkol</h2>
            <p class="title">Data Analyst</p>
            <p>stilkolgal@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
        
      

<!--denis-->


      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Denis Rosenfeld</h2>
            <p class="title">Data Scientist</p>
            <p>Denisrosenfeld0@gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  <!-- </div>  -->
  


  <!-- <div class="about-section">
    
  </div> -->
