
<body text="black" class="result">
     <h1 >Insights Details</h1> 
     <div class="chart-wrapper">
      <canvas baseChart class="theGraph"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors">
    </canvas>
  </div>
</body>
